<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{masjed_name}}</title>
  </head>
  <body class="container-fluid col">


    <div class="row" style="float: right; margin: 10px;">
        <div class="row" style="float: right; margin: 10px;">
            <div class="card" style="text-align: right; width: 18rem; height: 23.5rem; margin-right: 10px; float: right;">
                <div class="card-header">
                أوقات الصلاة، مشيرفة (بالتقريب)
                </div>
                <div class="card-body">
                    {% for item in pt %}
                    <p class="card-text">{{item}}</p><br />
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <form method="post" action="/a" style="margin: 10px; text-align: right; width: 20rem;">
            <p><input type="date" id="ddate" name="ddate" onchange="when_ddate_changes()" /> تاريخ</p><br />
            <p><input readonly id="dayval" type="text" name="day" style="text-align: right;" /> يوم</p><br />
            <p><input type="text" name="name" style="text-align: right;" /> مع</p><br />
            <p><input type="text" name="event" style="text-align: right;" /> تفاصيل</p><br />
            <p><input type="text" name="time" style="text-align: right;" /> وقت</p><br />
            <input type="submit" value="أضف" />
        </form>
        <script>
          function when_ddate_changes(){
            // array with the days of the week in arabic
            var days = ['الأحد', 'الإثنين', 'الثلاثاء', 'الأربعاء', 'الخميس', 'الجمعة', 'السبت'];
            var ddate = document.getElementById("ddate").value;
            var day = new Date(ddate).getDay();
            var dayval = document.getElementById("dayval");
            dayval.value = days[day];
          }
        </script>
    </div>


    <table class="table table-striped" style="text-align: right;">
        <thead>
          <tr>
            <th scope="row"></th>
            <th scope="col"><h4>تاريخ</h4></th>
            <th scope="col"><h4>يوم</h4></th>
            <th scope="col"><h4>مع</h4></th>
            <th scope="col"><h4>تفاصيل</h4></th>
            <th scope="col"><h4>وقت</h4></th>
          </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td><form method="post" action="/dele"><input type="text" value="{{item[0]}}" name="hashtag" hidden /><input onclick="return confirm('متأكد من حذف الحدث؟')" type="submit" style="color: red;" value="&times;" /></form></td>
                    <td><h4>{{item[1]}}</h4></td>
                    <td><h4>{{item[2]}}</h4></td>
                    <td><h4>{{item[3]}}</h4></td>
                    <td><h4>{{item[4]}}</h4></td>
                    <td><h4>{{item[5]}}</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
