<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Musherefa Masged</title>
  </head>
  <body class="container-fluid col">
      
    <img src="/ad3ya?time={{sometimevar}}" width="50%" height="50%" style="float: right; margin-right: 41%; margin-bottom: 7%;" />

    <table class="table table-striped" style="text-align: right; margin: 5%;">
        <thead>
        <tr>
            <th scope="col"><h4>تاريخ</h4></th>
            <th scope="col"><h4>يوم</h4></th>
            <th scope="col"><h4>مع</h4></th>
            <th scope="col"><h4>تفاصيل</h4></th>
            <th scope="col"><h4>وقت</h4></th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td><h4>{{item['1']}}</h4></td>
                    <td><h4>{{item['2']}}</h4></td>
                    <td><h4>{{item['3']}}</h4></td>
                    <td><h4>{{item['4']}}</h4></td>
                    <td><h4>{{item['5']}}</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function newDu3aa(){
            window.location.replace("/")
        }
        setInterval(newDu3aa, 60000)
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
