<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{masjed_name}}</title>
  </head>
  <body class="container-fluid col">
      
    <img id="imgduaa" src="/ad3ya?time={{sometimevar}}" style="float: right;" />

    <table id="table-of-events" class="table table-striped" style="text-align: right;">
        <thead>
        <tr>
            <th scope="col"><h4>تاريخ</h4></th>
            <th scope="col"><h4>يوم</h4></th>
            <th scope="col"><h4>مع</h4></th>
            <th scope="col"><h4>تفاصيل</h4></th>
            <th scope="col"><h4>وقت</h4></th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td><h4>{{item[1]}}</h4></td>
                    <td><h4>{{item[2]}}</h4></td>
                    <td><h4>{{item[3]}}</h4></td>
                    <td><h4>{{item[4]}}</h4></td>
                    <td><h4>{{item[5]}}</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        var imgduaa = document.getElementById("imgduaa");
        // set imgduaa height to 80% of screen height
        imgduaa.style.height = screen.height * 0.60 + "px";
        // set imgduaa width to 90% of screen height
        imgduaa.style.width = screen.width * 0.7 + "px";
        // set imgduaa margin-right to 5% of screen width
        imgduaa.style.marginRight = screen.width * 0.15 + "px";
        // set imgduaa margin-left to 5% of screen height
        imgduaa.style.marginLeft = screen.width * 0.15 + "px";
        // set imgduaa margin-bottom to 1% of screen height
        imgduaa.style.marginBottom = screen.height * 0.01 + "px";
        // set imgduaa margin-top to 1% of screen height
        imgduaa.style.marginTop = screen.height * 0.01 + "px";

        var table = document.getElementById("table-of-events");
        // set table-of-events height to 10% of screen width
        table.style.height = screen.width * 0.1 + "px";
        // set table-of-events width to 90% of screen height
        table.style.width = screen.width * 0.9 + "px";
        // set table-of-events margin-right to 5% of screen width
        table.style.marginRight = screen.width * 0.05 + "px";
        // set table-of-events margin-left to 5% of screen width
        table.style.marginLeft = screen.width * 0.05 + "px";
    </script>

    <script>
        function newDu3aa(){
            window.location.replace("/")
        }
        setInterval(newDu3aa, 60000)
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
