<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Musherefa Masged</title>
  </head>
  <body style="width: 50%; margin-left: 23%;">


    <form action="/l" method="post">
        <h5 for="p1">fill 1st password: </h5>
        <input class="form-control" name="p1" type="password" placeholder="1st password" /><br />
        <h5 for="p2">fill 2nd password: </h5>
        <input class="form-control" name="p2" type="password" placeholder="2nd password" /><br />
        <h5 for="p3">fill 3rd password: </h5>
        <input class="form-control" name="p3" type="password" placeholder="3rd password" /><br />
        <h5 for="p4">fill 4th password: </h5>
        <input class="form-control" name="p4" type="password" placeholder="4th password" /><br />
        <h5 for="p5">fill 5th password: </h5>
        <input class="form-control" name="p5" type="password" placeholder="5th password" /><br />
        <input class="form-control btn btn-secondary" type="submit"  value="login" />
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>